body {
  background-repeat: no-repeat;
  background-size: cover;
}
body .caption {
  color: white;
  font-size: 30px;
  font-weight: 600;
  background-color: #333333;
  text-align: center;
  width: 700px;
  margin: auto;
  border-radius: 50px;
}

.inputCity {
  border-radius: 50px;
}

img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.active #columns:hover {
  opacity: 1;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 0px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  left: 92%;
  top: 80%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 4%;
  top: 80%;
}

#imgDiv {
  position: absolute;
  bottom: 5vh;
  left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
  transition: 1s all linear;
}

.card {
  position: relative;
  height: 120px;
  width: 120px;
  border: black 3px solid;
  border-radius: 50%;
  transition: 0.3s;
  animation: fadeIn;
  animation-duration: 1.5s;
}
.card:hover {
  transform: translateY(-2rem) scale(1.25);
}
.card:hover ~ .card {
  transform: translateX(50px);
}
.card:not(:first-child) {
  margin-left: -20vw;
}

/*# sourceMappingURL=city-view.css.map */
